$fontsize: 12px;
$background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
$min-height: 100vh;
$position1: relative;
$width: 50px;
$left: 15px;
$text-align1: center;
$maxlength: 10;
$size: 10;
$display: none;
$margin: 45px;
$font-color: white;
$text-align2: left;

body {
  background: $background;
  color: #514B64;
  min-height: $min-height;
}

h1 {
  font-size: $fontsize +20;
  text-align: $text-align1;
  color: $font-color;
}

.navbar-brand {
  position: $position1;
  width: $width;
  left: $left;
}

.form-control {
  size: $size;
}

.box {
  display: $display;
}

select {
  margin: $margin;
}