body {
  background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
  color: #514B64;
  min-height: 100vh; }

h1 {
  font-size: 32px;
  text-align: center;
  color: white; }

.navbar-brand {
  position: relative;
  width: 50px;
  left: 15px; }

.form-control {
  size: 10; }

.box {
  display: none; }

select {
  margin: 45px; }

/*# sourceMappingURL=dfd.css.map */
